{% include "header.html" %}

<!-- Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>О нас</h1>
          <span class="subheading">Делитесь, Вдохновляйтесь, Обсуждайте</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Добро пожаловать в мир БлогБриз! Мы — сообщество энтузиастов, обладающих страстью к обмену знаний, вдохновению
        и обсуждению. Здесь каждый найдет кусочек своего интереса: от глубоких технических размышлений до легкой
        публицистики, от историй успеха до творческих вдохновений. Мы создаем уютное и информативное пространство, где
        авторы могут поделиться своими историями, а читатели — найти источник вдохновения. Давайте вместе сделаем этот
        блог местом, где знания и идеи ветреными ветрами разносятся повсюду, оставляя за собой свежий след.
        Присоединяйтесь к БлогБризу и давайте вместе создадим поток вдохновения!</p>
    </div>
  </div>
</div>

<hr>

{% include "footer.html" %}